body {
  background: #000000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-image: url(https://uc7c7aedd9598635b2a476b3662b.previews.dropboxusercontent.com/p/thumb/ABaRwRBcZVHziaJ39vY01icX4E7Ka_5McgBVsYtnLgrwJOLO7znw7hrAFMgFD2fNnSRqka-I7MCW0S_JJRhxD-HU0_4pxgx39utnOM0SM93KYWaxwD1qtR5qHSN5Of-i1l_LGZU_V0-hxxY3i-_Alz5QY8AoNI5bi1UkO6oUMNnLoAZIxQQQpx-dG4g8y-XYR7SoKh1sI5JgcwWVJstONqTeWGyuEl5sUi-nRymzCWnGfZ5Q-1hM9YNZjGVkb0GBoxcH7dsrZNtw8NsDVqkkNVj4Valb2CxSqWWKLsbnKfwaD85N_kQ8p0IGHQe5emEgFk_qkivlkrVC1itpA2Z16U6SXO6-mzZtICEdHWcbHkkRlWubaAgSm4uQenpDvaYTQ4k/p.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root{
  display: grid;
  text-align: center;
  place-content: center;
  min-height: 100vh;
}

.logo {
  height:300px;
  width:500px;
}

@media all and (max-width: 550px) {
  .logo {
    height: 180px;
    width:300px;
  }
}